<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <div class="card-header">
                    Bienvenido 
                    <div>
                        {{usuarioAutenticado}}
                    </div>
                </div>
                <ul class="list-group">
                    <li class="list-group-item list-group-item-action">
                      <a [routerLink]="['/createCompany']">Crear Empresa</a>
                    </li>
                    <li class="list-group-item list-group-item-action">
                      <a [routerLink]="['/createUser']">Crear Usuario</a>
                    </li>
                    <!--<li class="list-group-item list-group-item-action">
                      <a [routerLink]="['/actualizar-usuario']">Actualizar Usuario</a>
                    </li>-->
                  </ul>
                  <button class="btn-enabled">Cerrar sesión</button>
            </div>
        </div>
        <div class="col-md-9">
            <div class="card">
                <div class="card-header">
                    Formulario de Inscripción
                </div>
                <div class="card-body">
                    <form [formGroup]="formUser" (ngSubmit)="onSubmit()">
                        <div class="form-group">
                            <label for="nombres">Nombres</label>
                            <input type="text" formControlName="nombres" name="nombres" class="form-control"
                                placeholder="Escribe tus Nombres...">
                            <div *ngIf="nombres.invalid && (nombres.dirty || nombres.touched)" class="alert">
                                <div *ngIf="nombres.errors?.['required']">
                                    Campo Nombres requerido.
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="apellidos">Apellidos</label>
                            <input type="text" formControlName="Apellidos" name="Apellidos" class="form-control"
                                placeholder="Escribe tus Apellidos...">
                            <div *ngIf="Apellidos.invalid && (Apellidos.dirty || Apellidos.touched)" class="alert">
                                <div *ngIf="Apellidos.errors?.['required']">
                                    Campo Apellidos requerido.
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="tipoDocumento">Tipo de Documento</label>
                            <select formControlName="tipoDocumento" name="tipoDocumento" class="form-control">
                                <option *ngFor="let tipo of tiposDocumento" [value]="tipo">{{ tipo }}</option>
                            </select>
                            <div *ngIf="tipoDocumento.invalid && (tipoDocumento.dirty || tipoDocumento.touched)"
                                class="alert">
                                <div *ngIf="tipoDocumento.errors?.['required']">
                                    El tipo de documento es requerido.
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="numeroDocumento">Número de Documento</label>
                            <input type="text" formControlName="numeroDocumento" name="numeroDocumento"
                                class="form-control" placeholder="Escribe Documento...">
                            <div *ngIf="numeroDocumento.invalid && (numeroDocumento.dirty || numeroDocumento.touched)"
                                class="alert">
                                <div *ngIf="numeroDocumento.errors?.['required']">
                                    El número de documento es requerido.
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="sexo">Sexo</label>
                            <select formControlName="sexo" name="sexo" class="form-control">
                                <option *ngFor="let sexo of sexos" [value]="sexo">{{ sexo }}</option>
                            </select>
                            <div *ngIf="sexo.invalid && (sexo.dirty || sexo.touched)" class="alert">
                                <div *ngIf="sexo.errors?.['required']">
                                    El sexo es requerido.
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="celular">Celular:</label>
                            <input formControlName="celular" name="celular" class="form-control" (input)="soloNumeros($event)" maxlength="10">
                            <div *ngIf="celular.invalid && (celular.dirty || celular.touched)" class="alert">
                                <div *ngIf="celular.errors?.['required']">
                                    Este campo es obligatorio.</div>
                                <div *ngIf="celular.errors?.['pattern']">
                                    Solo se permiten números.
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="correoElectronico">Correo Electrónico</label>
                            <input type="email" formControlName="correoElectronico" name="correoElectronico"
                                class="form-control" placeholder="Escribe un correo...">
                            <div *ngIf="correoElectronico.invalid && (correoElectronico.dirty || correoElectronico.touched)"
                                class="alert">
                                <div
                                    *ngIf="correoElectronico.errors?.['email'] || correoElectronico.errors?.['required']">
                                    El correo electrónico es requerido y debe ser válido.
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="empresa">Nombre de empresa</label>
                            <select formControlName="empresa" name="empresa" class="form-control">
                                <option *ngFor="let empresa of empresas" [value]="empresa">{{ empresa }}</option>>
                            </select>
                            <div *ngIf="empresa.invalid && (empresa.dirty || empresa.touched)" class="alert">
                                <div *ngIf="empresa.errors?.['required']">
                                    Nombre de Empresa requerido.
                                </div>
                            </div>
                        </div> 

                        <div class="form-group">
                            <label for="departamento">Departamento</label>
                            <select formControlName="departamento" name="departamento" class="form-control">
                                <option *ngFor="let departamento of NomDepartamentos" [value]="departamento">{{ departamento }}</option>>
                            </select>
                            <div *ngIf="departamento.invalid && (departamento.dirty || departamento.touched)" class="alert">
                                <div *ngIf="departamento.errors?.['required']">
                                    Departamento requerido.
                                </div>
                            </div>
                        </div> 
                        <div class="form-group">
                            <label for="municipio">Municipio</label>
                            <select formControlName="municipio" name="departamento" class="form-control">
                                <option *ngFor="let municipio of municipios" [value]="municipio">{{ municipio }}</option>>
                            </select>
                            <div *ngIf="municipio.invalid && (municipio.dirty || municipio.touched)" class="alert">
                                <div *ngIf="municipio.errors?.['required']">
                                    Departamento requerido.
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="estado">Estado</label>
                            <select formControlName="estado" name="estado" class="form-control">
                                <option *ngFor="let estado of estados" [value]="estado">{{ estado }}</option>>
                            </select>
                            <div *ngIf="estado.invalid && (estado.dirty || estado.touched)" class="alert">
                                <div *ngIf="estado.errors?.['required']">
                                    El estado es requerido.
                                </div>
                            </div>
                        </div>                        
                        
                        <div class="form-group">
                            <label for="tipoUsuario">Tipo de Usuario</label>
                            <select formControlName="tipoUsuario" name="tipoUsuario" class="form-control">
                                <option *ngFor="let tipoUsuario of tiposUsuarios" [value]="tipoUsuario">{{ tipoUsuario }}</option>>
                            </select>
                            <div *ngIf="tipoUsuario.invalid && (tipoUsuario.dirty || tipoUsuario.touched)" class="alert">
                                <div *ngIf="tipoUsuario.errors?.['required']">
                                    El tipo de usuario es requerido.
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="username">Usuario</label>
                            <input type="username" formControlName="username" name="username"
                                class="form-control" placeholder="Escribe un usuario...">
                            <div *ngIf="username.invalid && (username.dirty || username.touched)"
                                class="alert">
                                <div
                                    *ngIf="username.errors?.['email'] || username.errors?.['required']">
                                    Usuario requerido.
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="pass">Contraseña</label>
                            <input type="password" formControlName="pass" name="pass"
                                class="form-control" placeholder="Escribe una contraseña...">
                            <div *ngIf="pass.invalid && (pass.dirty || pass.touched)"
                                class="alert">
                                <div
                                    *ngIf="pass.errors?.['email'] || pass.errors?.['required']">
                                    Contraseña requerida.
                                </div>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label for="rol">Rol</label>
                            <select formControlName="rol" name="rol" class="form-control">
                                <option *ngFor="let rol of roles" [value]="rol">{{ rol }}</option>>
                            </select>
                            <div *ngIf="rol.invalid && (rol.dirty || rol.touched)" class="alert">
                                <div *ngIf="rol.errors?.['required']">
                                    El Rol es requerido.
                                </div>
                            </div>
                        </div>

                        <button [disabled]="formUser.invalid"[ngClass]="{'btn-disabled': formUser.invalid, 'btn-enabled': formUser.valid}">Enviar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Popup Modal -->
<div *ngIf="showModal" class="modal">
    <div class="modal-content">
      <span class="close" (click)="closeModal()">&times;</span>
      <p>Usuario creado correctamente</p>
      <button class="btn-close" (click)="closeModal()">Cerrar</button>
    </div>
</div>
  
