<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <div class="card-header">
                    Bienvenido 
                    <div>
                        armandito
                    </div>
                </div>
                <ul class="list-group">
                    <li class="list-group-item list-group-item-action">
                      <a [routerLink]="['/createCompany']">Crear Empresa</a>
                    </li>
                    <li class="list-group-item list-group-item-action">
                      <a [routerLink]="['/createUser']">Crear Usuario</a>
                    </li>
                    <!--<li class="list-group-item list-group-item-action">
                      <a [routerLink]="['/actualizar-usuario']">Actualizar Usuario</a>
                    </li>-->
                  </ul>
                  <button class="btn-enabled">Cerrar sesión</button>
            </div>
        </div>
        <div class="col-md-9">
            <div class="card">
                <div class="card-header">
                    Formulario de Creación de Empresas
                </div>
                <div class="card-body">
                    <form >
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>