<header>
    <div class="container">
        <nav>
            <div class="logo">
                <img src="../../assets/img/logoSena.png" alt="Planhat Logo">
            </div>
            <ul class="nav-links">
                <li><a href="#">Donde se encuentra mi envió</a></li>
                <li><a href="#">Quienes somos</a></li>
                <li><a href="#">Resources</a></li>
                <li><a href="#">Company</a></li>
            </ul>
            <div class="cta-buttons">
                <a [routerLink]="['/login']" class="login-button">Login</a>
            </div>
        </nav>
    </div>
</header>
<!-- Hero Section -->
<section class="hero">
    <div class="container">
        <div class="hero-content">
            <h1>App fluvial</h1>
            <p>Nunca habia sido tan facil gestionar tus envios en nuestro sector fluvial.</p>
        </div>
    </div>
</section>

<!-- Footer Section -->
<footer>
    <div class="container">
        <p>&copy; 2024 SENA Servicio Nacional de aprendizaje.</p>
    </div>
</footer>